* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.wrapper {
    margin: auto;
    width: 1440px;
}


/* header */
.header {
    background: url(../media/image/header_bg.svg);
    padding: 10px 163px 0 165px;
    overflow: hidden;
}

.header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 24px;
    font-weight: 700;
}

.header_nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.nav_element {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    margin: 0 14px;
}

.nav_element:hover {
    color: #00BF78;
    transition: 0.25s;
}

.header_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phone {
    font-size: 18px;
    text-decoration: none;
    color: #333333;
}

.phone:hover {
    color: #00BF78;
    transition: 0.25s;
}

.timetable {
    font-size: 11px;
}

.header_main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_main_content {
    width: 44%;
}

.slogan_top {
    font-size: 48px;
    font-weight: 600;
}

.slogan_bottom {
    font-size: 20px;
    margin-top: 17px;
}

.header_main .btn {
    background-color: #FB9475;
    margin-top: 59px;
    padding: 14px 25px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
    display: flex;
    justify-content: center;
    max-width: 203px;
    border-radius: 30px;
    cursor: pointer;
}

.header_main_social {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}


.social_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
}

.social_item_icon {
    width: 28px;
    height: 28px;
}


.header_main_woman_div {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.header_main_woman_img {
    background: url();
}

.sircle {
    width: 472px;
    height: 472px;
    background-color: #FB9475;
    position: absolute;
    z-index: -1;

    border-radius: 100%;
    top: 30%;
    left: 9%;
}
/* ^^header^^ */