* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #333333;
}

.wrapper {
    height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1110px;
    margin: auto;
}

/* header */
.header {
    background: url(../media/image/header_bg.svg);
    padding-top: 10px;
    overflow: hidden;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav__element, .nav__element, .nav__element {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    margin: 0 14px;
    transition: 0.25s;
}

.nav__element:hover, .nav__element:hover, .nav__element:hover {
    color: #00BF78;
    transition: 0.25s;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-contacts__phone {
    font-size: 18px;
    text-decoration: none;
    color: #333333;
    transition: 0.25s;
}

.header-contacts__phone:hover {
    color: #00BF78;
    transition: 0.25s;
}

.header-contacts__timetable {
    font-size: 11px;
}

.header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-main__content {
    width: 44%;
}

.slogan-top {
    font-size: 48px;
    font-weight: 600;
}

.slogan-bottom {
    font-size: 20px;
    margin-top: 17px;
}

.header-btn {
    margin-top: 59px;
    padding: 14px 25px;
    max-width: 203px;
    font-size: 14px;
}

.btn {
    background-color: #FB9475;
    color: #FFFFFF;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #ff7146;
    transition: .3s;
}

.header-main__social {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}


.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    width: 32px;
    height: 32px;
}

.social__icon {
    width: 32px;
    height: 28px;
    transition: .2s;
}

.social__icon:hover {
    width: 32px;
    height: 32px;
    transition: .2s;
}

.header-main__woman-div {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.woman__sircle {
    width: 472px;
    height: 472px;
    background-color: #FB9475;
    position: absolute;
    z-index: -1;

    border-radius: 100%;
    top: 30%;
    left: 9%;
}
/* ^^header^^ */

.headline {
    font-size: 48px;
    font-weight: 700;
}

/* about */

.about-headline {
    margin-top: 100px;
}

.about-main {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-main__text {
    width: 47%;
}

.about-main__text-top {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
}

.about-main__text-bottom {
    font-size: 16px;
    line-height: 26px;
}

.about-main__video-play {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 13px;
    width: 58px;
    height: 58px;
}

.about-main__video-overlay {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 445px;
    height: 298px;
    color: #ffffff;
    cursor: pointer;
    transition: .4s;
    border-radius: 10px;
}

.about-main__video-overlay:hover {
    background-color: rgba(0, 0, 0, 20%);
    transition: .4s;
}

.about-main__video-text {
    font-size: 16px;
    font-weight: 500;
}

.about-main__video-preview {
    position:  relative;
    transition: .4s;
}

.about-main__video-preview:hover {
    filter: brightness(1);
}

.about-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 0;
}

.about-bottom__element {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-bottom__elemet-img {
    height: 48px;
    display: flex;
    justify-content: center;
}

.about-bottom__element-headline {
    font-size: 18px;
    font-weight: 600;
    margin: 28px 0 12px 0;
}

.about-bottom__element_description {
    font-size: 14px;
    line-height: 22px;
}

/* ^^about ^^ */

/* services */

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 48px 30px;
    margin: 32px 0 100px 0;
}

.service__name {
    padding: 20px 0 8px 0;
    font-weight: 600;
    font-size: 18px;
}

.service__description {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 16px;
    width: 90%;
}

.service__btn {
    padding: 10px 20px;
    max-width: 112px;
    font-size: 14px;
}

/* ^^services^^ */

/* prices */

.prices-nav {
    margin: 32px 0 57px 0;
}

.prices-nav__element:first-child {
    margin-left: 0;
}

.prices-nav__element:hover {
    cursor: pointer;
}

.prices-nav__element:active {
    border-bottom: 2px solid #00BF78;
    transition: 0s;
}

.prices-list {
    margin-bottom: 104px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 126px;
    grid-row-gap: 36px;
}

.price__element {
    width: 80%;
}

.price__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__headline {
    font-size: 18px;
    font-weight: 500;
}

.header__price {
    color: #00BF78;
    font-size: 20px;
    font-weight: 600;
}

.price__description {
    font-size: 14px;
    margin-top: 8px;
}

/* ^^prices^^ */

/* masters */

.masters {
    background-color: #F8F6F7;
    padding: 90px 0;
}

.masters__lozung {
    font-size: 16px;
    margin: 32px 0 24px 0;
}

.masters__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.master__enroll {
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    display: block;
    width: 150px;
}

.master__card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.master__img {
    position: relative;
    height: 300px;
    transition: .3s;
}

.master__card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    transition: 0.2s;
}

.master__card:hover .master__enroll {
    z-index: 1;
}

.master__card:hover .master__img {
    filter: brightness(.6);
    transition: .3s;
}

.master__name {
    margin: 20px 0 8px 0;
    font-size: 18px;
    font-weight: 600;
}

.master__description {
    margin-bottom: 20px;
}

.master__experience {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    filter: opacity(.8);
}


/* ^^masters^^ */

/* works */

.works {
    padding: 100px 0;
}

.works-header {
    display: flex;
    justify-content: space-between;
}

.pagginator {
    display: flex;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.arrowRightImg {
    transform: rotate(0.5turn);
}

.arrowRight, .arrowLeft {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.arrowRight:hover, .arrowLeft:hover {
    background-color: #F8F6F7;
    transition: 0.5s;
}

.carousel {
    padding-top: 52px;
    margin-left: -165px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 29px;
}

.carousel__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__zoom {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoom__description {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 8px;
}

.carousel__img {
    position: relative;
    cursor: pointer;
}

.carousel__img:not(:hover), .carousel__zoom {
    z-index: 1;
}

.carousel__img:hover {
    filter: brightness(.6);
}

/* ^^works^^ */

/* brands */

.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands-headline {
    font-size: 16px;
    margin: 117px 0 52px 0;
}

.brands__list {
    display: flex;
    justify-content: space-between;
    width: 86%;
    filter: opacity(.3);
}

.brands__img {
    cursor: pointer;
}

/* ^^brands^^ */

/* contacts */

.contacts {
    background-color: #F8F6F7;
}

.wrapper__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 110px 40px 0;
}

.contacts__description {
    padding-top: 38px;
}

.contacts__addres {
    font-size: 16px;
    margin: 32px 0 20px 0;
}

.contacts__phone {
    font-size: 16px;
    margin-bottom: 20px;
}

.contacts__link {
    color: #278AFF;
}

.contacts__social-headline {
    font-size: 12px;
    margin: 32px 0 14px 0;
}

.contacts__social {
    height: 32px;
    display: flex;
    flex-direction: row;
}

.contacts-social__item {
    margin-right: 24px;
}

.contacts__form {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 40px 36px;
    width: 445px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 15%);
}

.form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 375px;
    height: 44px;
    padding-left: 16px;
    border-radius: 5px;
    border: 2px solid #F8F6F7;
    outline:none;
    margin-bottom: 20px;
    transition: .2s;
}

input[type="text"]::-moz-placeholder {
    color: #A0A0A0;
}

input[type="text"]::-webkit-input-placeholder {
    color: #A0A0A0;
}

input[type="text"]:focus {
    border: 2px solid #FB9475;
    transition: .2s;
}

.btn-form {
    border: none;
    width: 375px;
    padding: 17px 146px;
    font-weight: 500;
    font-size: 14px;
}

.form__name {
    font-weight: 600;
    font-size: 18px;    
}

.form__description {
    margin: 15px 0 35px 0;
    line-height: 20px;
}

.form__personal-data {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    width: 90%;
    filter: opacity(.6);
    margin-top: 16px;
}

/* ^^contacts^^ */

/* footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 0;
}

.footer__headline {
    font-size: 12px;
    margin-bottom: 8px;
}

.footer__link {
    font-size: 12px;
}

/* ^^footer^^ */

/* adaptive */

@media (min-width:346px) and (max-width: 540px) {
    .container {
        max-width: 539px;
    }

    .headline {
        text-align: center;
    }
    /* header */

    .header {
        padding-top: 35px;
    }

    .header-main__woman-div{
        display: none;
    }
    .header__logo {
        font-size: 22px;
    }
    
    .header__nav {
        display: none;
    }
    
    .header-contacts__phone {
        font-size: 18px;
    }
    
    .header-contacts__timetable {
        font-size: 11px;
    }
    
    .header-top {
        padding: 0 20px 50px;
    }

    .header-main {
        flex-direction: column;
    }
    
    .header-main__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slogan-top {
        font-size: 42px;
        text-align: center;
    }
    
    .slogan-bottom {
        font-size: 16px;
    }
    
    .header-main__social {
        flex-direction: row;
        margin: 20px 0 40px 0;
    }

    .social__item {
        margin: 8px 14px;
    }
    
    /* buufer */

    .about-main__video {
        display: none;
    }

    .masters__list {
        display: none;
    }

    .carousel {
        display: none;
    }

    /*

    /* about */

    .about-main__text {
        width: 90%;
        margin: auto;
    }

    .about-bottom {
        flex-direction: column;
        align-items: center;
        margin: 50px 0 100px 0;
    }

    .about-bottom__element {
        width: 50%;
        margin-top: 50px;
    }

    .services-list {
        width: 70%;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}