* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.wrapper {
    margin: auto;
    width: 1440px;
}

/* header */
.header {
    background: url(../media/image/header_bg.svg);
    padding: 10px 163px 0 165px;
}

.header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin: 0 14px;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

.header_top .ul a:hover {
    color: #00BF78;
    transition: 0.25s;
}

.phone {
    font-size: 18px;
}

.timetable {
    font-size: 11px;
    display: flex;
    justify-content: end;
}

.header_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.header_bottom .btn {
    background-color: #FB9475;
    margin-top: 59px;
    padding: 14px 25px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
    display: flex;
    justify-content: center;
    max-width: 203px;
    border-radius: 30px;
    cursor: pointer;
}

.header_bottom .bottom_nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.header_bottom .bottom_nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
}

.header_bottom .bottom_nav a img {
    width: 28px;
    height: 28px;
}

.header_bottom .bottom_text {
    width: 44%;
}

.header_bottom .bottom_text p:first-child {
    font-size: 48px;
    font-weight: 600;
}

.header_bottom .bottom_text p:nth-child(2) {
    font-size: 20px;
    margin-top: 17px;
}

.header_bottom .bottom_img {
    
}

.header_bottom .bottom_img img {
    /* position: absolute;
    z-index: 2; */
}
/*
.header_bottom .bottom_img .sunset {
    position: relative;
    z-index: 1;
    width: 472px;
    height: 472px;
    background-color: #FB9475;
} */


/* ^^header^^ */
