* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; //плавная прокрутка
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #333333;
}

.wrapper {
    height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.headline {
    font-size: 48px;
    font-weight: 700;
}

